# Flow control

## 1.If

In [1]:
x=10
if x>0:
    print('positive')
elif x<0:
    print('negative')
else :
    print('zero')

positive

In [2]:
x=1
if x==1:
    print('x is one')

x is one

In [4]:
if 'thai' in 'thailand':
    print('yes')

yes

In [5]:
list=[1,2,3,4,5,6,7,8,9]
if 0 in list :
    print('yes')
else :
    print('no')

no

In [6]:
bool(0), bool(0.0), bool(0j)

(False, False, False)

In [7]:
bool(1), bool(1.0), bool(1j)

(True, True, True)

In [8]:
bool(()), bool([]), bool({}), bool(set())

(False, False, False, False)

In [1]:
bool([1]), bool((1)), bool({1:1}), bool(set([1]))

(True, True, True, True)

## 2. While For

In [9]:
x=0

In [10]:
while x<10:
    print(x)
    x=x+1

0
1
2
3
4
5
6
7
8
9

In [1]:
t='thailand'
while t:
    print(t)
    t= t[1:]

thailand
hailand
ailand
iland
land
and
nd
d

In [3]:
x=1
while x:
    if x>10:
        break #คำสั่ง break ให้หลุดจาก loop
    else:
        print(x)
        x+=1

1
2
3
4
5
6
7
8
9
10

In [4]:
x=0
while x<10:
    x=x+1
    if x%2==0:
        print(x)
    else:
        continue

2
4
6
8
10

## 3. For

In [1]:
for x in [1,2,3,4,5,6]:
    print(x)                   #ไล่ลำดับสมาชิกในข้อมูลที่มีลำดับ

1
2
3
4
5
6

In [2]:
for i in 'thailand':
    print(i)

t
h
a
i
l
a
n
d

In [3]:
for t in (1,2,3,4,5,6):
    print(t)                   # tuple ก็ใช้ได้

1
2
3
4
5
6

In [4]:
range(10) #สร้างสมากชิกใน list ตั้งแต่ 0 ถึง n-1

range(0, 10)

In [7]:
r=range(0,10)
r

range(0, 10)

In [8]:
range(3,5)

range(3, 5)

In [9]:
range(1,10,2) #สร้าง list ตั้งแต่ 1 ถึง 10 step ทีละ 2

range(1, 10, 2)

In [12]:
range(5)[::-1] #สร้างสมาชิกย้อนกลับจาก 4 หลังไปจนถึง 0

range(4, -1, -1)

In [13]:
x=0
for i in range (10):
    x+=i
print(x)

45

In [14]:
for x,y in [(1,2),(3,4),(5,6)]:
    print( x**2+y**2)

5
25
61

In [17]:
D={1:'a', 2:'b',3:'c'}
for d in D:
    print(d, D[d])

1 a
2 b
3 c

In [21]:
data = {'A':123, 'B':555}
sample =[123,456]
for d in data:
    for s in sample:
        if data[d]==s:
            print('found', s)

found 123

## 4.comprehension

In [22]:
T=(1,2,3,4,5,6)
L=[x for x in T] #ใช้ For loop ในการสร้าง list
L

[1, 2, 3, 4, 5, 6]

In [23]:
L=[x for x in T if x%2==0]
L

[2, 4, 6]

In [25]:
L=[2*x for x in 'thailand'] # L=[f(x) for x in sequence if condition]
L

['tt', 'hh', 'aa', 'ii', 'll', 'aa', 'nn', 'dd']

In [26]:
[x+y for x in 'ABC' for y in '123']

['A1', 'A2', 'A3', 'B1', 'B2', 'B3', 'C1', 'C2', 'C3']

In [28]:
[x+y for x in range(0,10) if x%2==0 for y in range(0,10) if y%2==1]  #loop ซ้อน loop

[1,
 3,
 5,
 7,
 9,
 3,
 5,
 7,
 9,
 11,
 5,
 7,
 9,
 11,
 13,
 7,
 9,
 11,
 13,
 15,
 9,
 11,
 13,
 15,
 17]